@model IEnumerable<BLL.DTO.PortfolioDTO>



@for (var i = 0; i < Model.Count(); i++)
{
    <li style="margin:0; margin-bottom: -1px;">
        <a href="#" class="portfolio-item">@Model.ToList()[i].Name</a>
        @Html.HiddenFor(model => model.ToList()[i].Id, new { @class = "PositionId" })
        @Html.HiddenFor(model => model.ToList()[i].DisplayIndex, new { @class = "DisplayIndex" })
    </li>
}