<ul class="nav nav-tabs" id="myTab">
    <li><a href="#general" data-toggle="tab">General</a></li>
    <li class="active"><a href="#tradeManagement" data-toggle="tab">Trade Management</a></li>
    <li><a href="#viewManagement" data-toggle="tab">View Management</a></li>
    <li><a href="#viewTemplateManagement" data-toggle="tab">View Template Management</a></li>
    <li><a href="#alerts" data-toggle="tab">Alerts</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in" id="general">
            @using (Ajax.BeginForm("_General","Nav", "Nav", new AjaxOptions { UpdateTargetId = "general-results",
                LoadingElementId = "loader"}, new { id = "generalForm" }))
            {
                @Html.Hidden("id", 1);
            }
            <div id="general-results"></div>
    </div>
    <div class="tab-pane fade in active" id="tradeManagement">
        <div style="margin: 10px;">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle myNavBtn" data-toggle="dropdown">
                    Add Position <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Add regular position </a></li>
                    <li><a href="#">Add combine position </a></li>
                    <li><a href="#">Add stock</a></li>
                    <li><a href="#">Add put option</a></li>
                    <li><a href="#">Add call option</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-default myNavBtn">Trade Groups</button>
            <button type="button" class="btn btn-default myNavBtn">Income</button>
            <button type="button" class="btn btn-default myNavBtn">Divide Trade</button>
            <button type="button" class="btn btn-default myNavBtn">Custom Symbols</button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle myNavBtn" data-toggle="dropdown">
                    View <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Default View </a></li>
                    <li><a href="#">Default View 1</a></li>
                    <li><a href="#">Default View 2</a></li>
                    <li><a href="#">Default View 3</a></li>
                </ul>
            </div>
        </div>
        @using (Ajax.BeginForm("TradeManagementTable", "Nav", "Nav",new AjaxOptions { LoadingElementId = "loader",
            UpdateTargetId = "trade-management-table-results" }, new { id = "trade-management-table" }))
        {
            @Html.Hidden("id", 1);
        }
        <div id="trade-management-table-results"></div>
    </div>
    <div class="tab-pane fade in" id="viewManagement">Under construction...</div>
    <div class="tab-pane fade in" id="viewTemplateManagement">Under construction...</div>
    <div class="tab-pane fade in" id="alerts">Under construction...</div>
</div>
