<ul class="nav nav-tabs" id="myTab">
    <li><a href="#general" data-toggle="tab">General</a></li>
    <li class="active"><a href="#tradeManagement" data-toggle="tab">Trade Management</a></li>
    <li><a href="#viewManagement" data-toggle="tab">View Management</a></li>
    <li><a href="#viewTemplateManagement" data-toggle="tab">View Template Management</a></li>
    <li><a href="#alerts" data-toggle="tab">Alerts</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in" id="general">
            @using (Ajax.BeginForm("_General","Nav", "Nav", new AjaxOptions { UpdateTargetId = "general-results",
                LoadingElementId = "loader"}, new { id = "generalForm" }))
            {
                @Html.Hidden("id", 1);
            }
            <div id="general-results"></div>
    </div>
    <div class="tab-pane fade in active" id="tradeManagement">
        @Html.Partial("~/Views/Nav/TradeManagementTable.cshtml")
        <div id="symbolNotFoundDialog">
            Symbol was not found.
        </div>
    </div>
    <div class="tab-pane fade in" id="viewManagement">Under construction...</div>
    <div class="tab-pane fade in" id="viewTemplateManagement">Under construction...</div>
    <div class="tab-pane fade in" id="alerts">Under construction...</div>
</div>
