
@Styles.Render("~/Content/DataTables")

<table id="trade-management-jq-table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Open Price</th>
            <th>Open Date</th>
            <th>Weight</th>
            <th>Current Price</th>
            <th>Status</th>
            <th>Close Price</th>
            <th>Close Date</th>
            <th>Gain</th>
            <th>Absolute Gain</th>
            <th>Max Gain</th>
        </tr>
    </thead>

    @*<tfoot>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Open Price</th>
            <th>Open Date</th>
            <th>Weight</th>
            <th>Dividends</th>
            <th>Curren tPrice</th>
            <th>Status</th>
            <th>Close Price</th>
            <th>Close Date</th>
            <th>Gain</th>
            <th>Absplute Gain</th>
            <th>Max Gain</th>
        </tr>
    </tfoot>*@
</table>

<script>
    
 

</script>
