
@Styles.Render("~/Content/DataTables")
<div class="tampleteTableContainer">
    <div style="margin: 10px;">
        <a href="/ViewTemplate/Save/0" class="popup btn btn-default myNavBtn">Add</a>
        <button type="button" class="popup btn btn-default myNavBtn">Columns</button>
    </div>
    <table id="view-template-management-jq-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Show Positions</th>
                <th>Potrfolio Stats</th>
            </tr>
        </thead>
    </table>
</div>