@Styles.Render("~/Content/DataTables")
<div class="viewContainer">
    <div style="margin: 10px;">
        <a href="/View/Save/0" class="popup btn btn-default myNavBtn">Add</a>
    </div>
    <table id="view-management-jq-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Show Name</th>
                <th>Money</th>
                <th>Percent</th>
                <th>Date Format</th>
            </tr>
        </thead>
    </table>
</div>