
@Styles.Render("~/Content/DataTables")
<div class="recordManagmentContainer">
    <table id="record-management-jq-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Entity</th>
                <th>Entity Id</th>
                <th>Operation</th>
                <th>Date Time</th>
                <th>Successfully</th>
            </tr>
        </thead>
    </table>
</div>
