@Styles.Render("~/Content/DataTables")
<div class="profileManagmentContainer">
    <div style="margin: 10px;">
        <a href="/Profile/Save/0" class="popup btn btn-default myNavBtn">Add</a>
    </div>
    <table id="profile-management-jq-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>User Name</th>
            </tr>
        </thead>
    </table>
</div>