        .field-validation-error {
    color: #b94a48;
}
  
.field-validation-valid {
    display: none;
}
  
input.input-validation-error {
    border: 1px solid #b94a48;
}
  
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
  
.validation-summary-errors {
    color: #b94a48;
}
  
.validation-summary-valid {
    display: none;
}

.nav-tabs.nav-stacked > li > a.portfolio-item {
            border: 1px solid #ddd !important;
            border-radius: 0 !important;
        }

        .nav-tabs.nav-stacked > li:last-child > a.portfolio-item {
            -webkit-border-bottom-right-radius: 4px !important;
            -moz-border-radius-bottomright: 4px !important;
            border-bottom-right-radius: 4px !important;
            -webkit-border-bottom-left-radius: 4px !important;
            -moz-border-radius-bottomleft: 4px !important;
            border-bottom-left-radius: 4px !important;
        }

        .nav-tabs.nav-stacked > li:first-child > a.portfolio-item {
            -webkit-border-top-right-radius: 4px !important;
            -moz-border-radius-topright: 4px !important;
            border-top-right-radius: 4px !important;
            -webkit-border-top-left-radius: 4px !important;
            -moz-border-radius-topleft: 4px !important;
            border-top-left-radius: 4px !important;
        }

.myNavBtn{
    margin-right: 10px !important;
    -webkit-box-shadow: 0 2px 2px 0 #f5f5f5;
    box-shadow: 0 2px 2px 0 #f5f5f5;
}

#addBtn{
     margin-top: 2px;
    margin-bottom: 10px;
    height: 38px;
}

#createPortfolioForm {
        width: 320px;
        margin: 20px 20px;
        border: 1px #e6e6fa solid;
        padding: 10px;
    }

    #loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin: 3px auto !important;
    left: 45%;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-item {
    font-size: 15px;
    padding: 4px 8px;
    visibility: hidden;
    margin-top: 5px;
    float: right;
    margin-right: 7px;
    z-index: 9999999999999;
    position: relative;
}
.edit {
    margin-right: 3px;
}

.portfolio-item p {
    margin-bottom: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    margin-right: 60px;

}
.li-item:hover .btn-item {
    visibility:visible
}